*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #2193b0;
}
img{
  height: 50%;
  margin-right: 5%;



}
.title{
  color: #153462;
  margin-top: auto  ;
  font-size: 5px;
  font-weight: 500;
  margin-bottom: 50px;
  letter-spacing: 1px;
  text-align: center;
}
.p{
  text-align: center;
}
.star::after{
  content:"*";
  color: red;
  font-size:20px;
}
.container
{
  max-width: 700px;
  width: 100%;
  background: #eee;
  padding: 25px 30px;
  border-radius: 10px;
}
.container .title{
  font-size: 25px;
  font-weight: 500;
}
.container form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
margin-bottom: 15px;
  width:280px;
}
.user-details .input-box .details{
display: block;
font-weight: 500;
margin-bottom: 7px;
}
form .user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-width: 2px;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6
}
form .button{
  height:45px;
  margin: 45px 0;

}
form .button input{
  height: 100%;
  width: 100%;
  background:linear-gradient(45deg, blueviolet, deeppink);
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  color:#fff;
  cursor: pointer;
  transition: .2s linear;
}
form .button input:hover{
  letter-spacing: 2px;
  opacity: .8;
}

@media (max-width:584px) {
.container{
  max-width: 100%;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: 100%;
}
}
